include ../mixins/icon
include ../mixins/tag

- const documentURL = helpers.getDocumentURL(metadata);
- const mediaType = helpers.determineMediaTypes(metadata);
- const target = config.features.preferTargetBlank ? '_blank' : '_self';
- const tagString = metadata.tags && metadata.tags.join(', ');
- const altText = helpers.documentTitle(metadata) + (tagString ? ': ' + tagString : '');
- const creationPeriod = helpers.getCreationPeriod(metadata);
- const creationTime = helpers.getCreationTime(metadata);

.document.search-results-first-series.col-xs-12.col-sm-12.col-md-6.col-lg-4.col-xl-3
  a.photo-stack.photo-stack--small(href=documentURL, target=target)
    each previewAsset in metadata.previewAssets
      img.photo-stack__photo(src=helpers.getThumbnailURL(previewAsset, 2000, 'bottom-right'))
  .search-results-first-series__metadata
    .u-type-heading="Billedserie"
    a.u-row.search-results-first-series__title(href=documentURL, target=target)
      h2= helpers.documentTitle(metadata)
      .chip.chip--white-outline=`${metadata.assets.length} billeder`
    a.search-results-first-series__description(href=documentURL, target=target)= helpers.documentDescription(metadata)
    table
      tbody
        tr
          th.row="Periode"
          td=`${metadata.dateFrom.year} – ${metadata.dateTo.year}`
    .motif-tagging
      .motif-tagging__tags
        each tag in metadata.tags
          .btn-group
            +tag(tag)
