include ../mixins/icon

- const documentURL = helpers.getDocumentURL(metadata);
- const thumbnailURL = helpers.getThumbnailURL(metadata);
- const mediaTypes = helpers.determineMediaTypes(metadata);
- const hasMediaType = type => mediaTypes.indexOf(type) !== -1;
- const target = config.features.preferTargetBlank ? '_blank' : '_self';
- const tagString = metadata.tags && metadata.tags.join(', ');
- const altText = helpers.documentTitle(metadata) + (tagString ? ': ' + tagString : '');
- const creationPeriod = (metadata.creation_time_from ? metadata.creation_time_from.year + '-' : '') + (metadata.creation_time_to ? metadata.creation_time_to.year : '');
- const creationTime = (metadata.creation_time ? (metadata.creation_time_estimated ? 'ca. ' : '') + helpers.formatDate(metadata.creation_time) : '');

a(href=documentURL target=target).search-results-item.col-xs-6.col-sm-6.col-md-3.col-lg-2.col-xl-1
  .search-results-item__squared-container
    img(src=thumbnailURL alt=altText).search-results-item__squared-image.object-fit
    if hasMediaType('rotation') || hasMediaType('video')
      .search-results-item__overlay
        if hasMediaType('rotation')
          +icon('rotation')
        if hasMediaType('video')
          +icon('play')
  h2.search-results-item__title= helpers.documentTitle(metadata)
  p.search-results-item__description= helpers.documentDescription(metadata)
  p.search-results-item__period= creationTime ? creationTime : creationPeriod
