header.topbar
  .container-fluid
    nav
      .topbar-items
        a(href="/").topbar-items__link KBH Billeder
        a(href="#").topbar-items__link Avanceret søgning
        a(href="#").topbar-items__link Hjælp
        a(href="#").topbar-items__link Om KBH Billeder
        a(href="#").topbar-items__link Kontakt
        - var path = (req.path).split('/')
        - var searchMethod = (isSearching ? 'modify-query' : '')
        if !frontpage
          form.search-box(method='get', action='/', data-method=searchMethod)
            .input-group
              input.form-control.input-search(
                type='text',
                id='search-input',
                placeholder='Søg på kbh-billeder.dk',
                name='q',
                autocomplete="off",
                value=req.query.q || '')
              .input-group-btn
                button.btn-search.btn
                  span.sr-only Søg
                  +icon('search')
