- const documentURL = helpers.getDocumentURL(item);
- const thumbnailURL = helpers.getThumbnailURL(item);
- const altText = helpers.documentTitle(item) + helpers.motifTagging.getTags(item).join(', ');

a(href=documentURL target=target data-id=item.id).user-contributions__item.col-xs-6.col-sm-6.col-md-3.col-lg-2.col-xl-1
    .search-results-item__squared-container
        img(src=thumbnailURL, alt=altText).search-results-item__squared-image.object-fit
    h2.search-results-item__title= helpers.documentTitle(item)
    p.search-results-item__description= helpers.documentDescription(item) || "\u00A0"
