mixin gridGallery(gallery, i, evenOrOdd)
  .row.gallery.gallery--grid(class="gallery--" + evenOrOdd)
    .col-xs-12.col-sm-5
      h2.gallery__title= gallery.title
      p.gallery__text= gallery.description
    .col-sm-1
    .col-xs-12.col-sm-6
      .row
        each item, index in gallery.items
          .col-xs-6
            +galleryItem(item, index, 'grid', true)

mixin carouselGallery(gallery, evenOrOdd)
  .row.gallery.gallery--carousel(class="gallery--" + evenOrOdd)
    .col-xs-12
      h2.gallery__title= gallery.title
      h3.gallery__subtitle= ' — ' + gallery.description
      .gallery--slick
        each item, index in gallery.items
          +galleryItem(item, index, 'carousel', true, [270, 264])
      .slick-button-container
        button.slick-prev(type='button')
        button.slick-next(type='button')

mixin blockGallery(gallery, evenOrOdd)
  .row.gallery.gallery--block(class="gallery--" + evenOrOdd)
    .col-xs-12.col-sm-4
      h2.gallery__title= gallery.title
      p.gallery__text= gallery.description
    .gallery__items
      .flex
        each item, index in gallery.items
          .col-xs-6.col-sm-6.col-md-3
            +galleryItem(item, index, 'block')

mixin mapGallery(map, evenOrOdd, followsJumbo)
  .row.gallery.gallery--map(class="gallery--" + evenOrOdd)
    .col-xs-12.col-sm-5
      h2.gallery__title= map.title
      p.gallery__text= map.description
      .spacer
      a.btn.btn-primary.btn-big(href='/søg' + map.queryString)= map.viewFullMapButtonText || 'Kortvisning'
    .col-sm-1
    .gallery-map.col-xs-12.col-sm-6
      -if(followsJumbo)
        .mini-map-with-query.after-jumbo(data-query-string=map.queryString)
      -else
        .mini-map-with-query(data-query-string=map.queryString)

mixin tagGallery(tagCloud, evenOrOdd)
  .row.gallery.gallery--tags(class="gallery--" + evenOrOdd)
    .tag-cloud.col-xs-12.col-sm-5
      each item, index in tagCloud.items
        a.btn.btn-primary(href='/?q='+encodeURIComponent(item))= item
    .col-sm-1
    .col-xs-12.col-sm-6
      h2.gallery__title= tagCloud.title
      p.gallery__text= tagCloud.description

mixin galleryItem(item, index, type, fill, imageDimensions)
  - var fill = fill
  - var imageDimensions = imageDimensions ? imageDimensions : [270, 200]
  - var itemImageUrl = item._.image.fill(imageDimensions[0],imageDimensions[1],{gravity: 'center', quality: 75});
  - var className = 'gallery-thumb-' + index + ' gallery-thumb-' + type
  - var altText = item.altText || ''
    a.gallery-thumb.no-touch-hover(href=item.link, class=className)
      img(src=fill ? itemImageUrl : item._.image.src() alt= altText).gallery-thumb__image
      .gallery-thumb__overlay
        h3.gallery-thumb__title= item.title
        p.gallery-thumb__text= item.description
