extends index

append header
  +assetMeta(metadata, sources)

append javascript
  if(showGeotagging)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content

  - var address = metadata.address || metadata.street;
  - var zipcode = metadata.zipcode;
  - var city = metadata.city;
  - var fullAddress = [];

  - if(address)
    - fullAddress.push(address)
  - if(zipcode)
    - fullAddress.push(zipcode)
  - if(city)
    - fullAddress.push(city)
  - fullAddress = fullAddress.join(', ')


  article.asset(itemscope,
          itemtype='http://schema.org/CreativeWork',
          data-catalog=catalog.alias,
          data-id=metadata.id,
          data-latitude=metadata.latitude,
          data-longitude=metadata.longitude,
          data-heading=metadata.heading,
          data-full-address=fullAddress)
    - var city = metadata.city;
    - var description = metadata.description;
    - var file_format = metadata.file_format;
    - var license = metadata.license && helpers.licenseTag(metadata.license.id);
    - var title = metadata.short_title;
    - var zipcode = metadata.zipcode;
    - if (metadata.width_px > 768) { zoom = true };
    .asset-top
      .container-fluid
        .row
          .col-xs-12.small-bleed.img-col
            img(src=sources.thumbnail, alt=title, class="#{zoom===true ? 'asset-image--zoomable' : ''}").asset-image
          .col-md-6.map-wrap
            if showGeotagging
              include includes/geotagging.jade
      .container-fluid
        .row.asset-info
          .col-sm-8
            if(title)
              h1= title
              if(description)
                p.sr-only Beskrivelse
                p.lead= description
            else if(description)
              p.sr-only Beskrivelse
              h1= description

          .col-sm-4.social
            if(player === 'image-single' || player === 'image-single-animated')
              if (zoom)
                a(data-action="asset-image-size-toggle")
                  +icon('zoom-in')
            a(data-action="asset-download-show", class="#{downloadable===true ? '' : 'dimmed'}")
              +icon('download')
            a(href="javascript:fbshareCurrentPage()", target="_blank", alt="Del på Facebook")
              +icon('facebook')
            a(href="javascript:twittershareCurrentPage()", target="_blank", alt="Del på Twitter")
              +icon('twitter')


    .asset-middle
      .container-fluid
        .row.metadata
          != assetLayout(metadata)

    if relatedAssets && relatedAssets.length > 0
      .asset-bottom
        .container-fluid
          .row      
            .col-xs-12
              h2 Relaterede billeder
              .related-assets
                .related-assets__next-arrow
                  +icon('chevron-right')
                .related-assets__prev-arrow
                  +icon('chevron-right')
                .slider
                  each asset in relatedAssets
                    a(href=asset.href)
                      img(data-lazy="#{asset.src}")


  .overlay__container(data-content="asset-download")
    .overlay__content
      if (downloadable)
        h2 Download
        if(player === 'image-single')
          a.btn.btn-primary(href='#{sources.thumbnail}', target='_blank')
            | Download billede
        if (license)
          a(href=license.url, rel='license', target='_blank')
            img(src=license.img, alt=license.short).license-img
        else
          p No known rights
      else
        h2 Vi beklager
        p Billedet er ophavsretligt beskyttet og kan derfor ikke downloades uden forudgående aftale med fotografen.


  .facebook-group
    h2 Tusind tak for din hjælp!
    p Hvis du synes det er spændende at bidrage til Nationalmuseets samlinger, så følg med i facebookgruppen&nbsp;
      a(href="https://www.facebook.com/groups/1002729026439527/") Crowdsourcing af Nationalmuseets Samlinger.
    br
    p Dette er første og sidste gang vi forstyrrer dig. Skjul denne besked ved at&nbsp;
      a(href="").ok trykke her.

  include includes/footer
