extends index
include mixins/meta-asset

append header
  +assetMeta(metadata, sources)

append javascript
  if(showGeotagging)
    script(async defer src="https://maps.googleapis.com/maps/api/js?key=" + config.googleMapsAPIKey + "&callback=initMap&libraries=geometry,places")

block content

  - var address = metadata.address || metadata.street;
  - var zipcode = metadata.zipcode;
  - var city = metadata.city;
  - var fullAddress = [];

  - if(address)
    - fullAddress.push(address)
  - if(zipcode)
    - fullAddress.push(zipcode)
  - if(city)
    - fullAddress.push(city)
  - fullAddress = fullAddress.join(', ')

  - var city = metadata.city;
  - var institution = metadata.catalog;
  - var description = metadata.description;
  - var secondary_description = metadata.secondary_description;
  - var file_format = metadata.file_format;
  - var license = metadata.license && helpers.licenseTag(metadata.license.id);
  - var title = metadata.short_title;
  - var zipcode = metadata.zipcode;
  - var downloadSlug = metadata.id + '/download/';

  //- check image sizes available
  - var bigImage = "";
  - var smallImage = "";
  - var mediumImage = "";
  - var largeImage = "";
  - if (metadata.width_px > 800) { bigImage = "lille", smallImage = downloadSlug + bigImage };
  - if (metadata.width_px > 1200) { bigImage = "mellem", mediumImage = downloadSlug + bigImage };
  - if (metadata.width_px > 2000) { bigImage = "stor", largeImage = downloadSlug + bigImage };
  - bigImage = downloadSlug + bigImage;
  - var fullWidth = Math.round(metadata.width_px);
  - var fullHeight = Math.round(metadata.height_px);

  article.asset.let-it-grow(itemscope,
      itemtype='http://schema.org/CreativeWork',
      data-catalog=catalog.alias,
      data-id=metadata.id,
      data-title=title,
      data-latitude=metadata.latitude,
      data-longitude=metadata.longitude,
      data-heading=metadata.heading,
      data-license-id=metadata.license ? metadata.license.id : '',
      data-full-address=fullAddress)
    .asset-top
      .container-fluid
        .row
          .col-xs-12.col-sm-7.img-col
            .image-wrap
              if downloadable
                img(src=sources.thumbnail, data-src=bigImage, alt=title).asset-image--zoomable.asset-image--lazy.kbh-asset-image
              else
                img(src=sources.thumbnail, alt=title).asset-image--zoomable.kbh-asset-image
                .watermark
                  if(institution === 'kbh-arkiv')
                    +icon('kbh-arkiv')
                  else if (institution === 'kbh-museum')
                    +icon('kbh-museum')
            .social
              a(data-action="asset-image-size-toggle").hidden-xs
                +icon('zoom-in')
              a(data-action="asset-download-show", class="#{downloadable===true ? '' : 'dimmed'}")
                +icon('download')
              a(href="javascript:fbshareCurrentPage()", target="_blank", alt="Del på Facebook")
                +icon('facebook')
              a(href="javascript:twittershareCurrentPage()", target="_blank", alt="Del på Twitter")
                +icon('twitter')
              a(href="javascript:pinterestshareCurrentPage()", target="_blank", alt="Del på Pinterest")
                +icon('pinterest')
          .col-xs-12.col-sm-5.asset-info
            if(title)
              h1= title
            if(description)
              p.sr-only Beskrivelse
              p.lead= description
            if(secondary_description)
              p= secondary_description
            .metadata
              != assetSection('time', metadata)
              != assetSection('place', metadata)

    .asset-middle
      .container-fluid
        .row.metadata
          .col-sm-7
            != assetSection('additional-information', metadata)
          .col-sm-5
            != assetSection('technical-information', metadata)

    if relatedAssets && relatedAssets.length > 0
      .asset-bottom
        .container-fluid
          .row
            .col-xs-12
              h2 Relaterede billeder
              .related-assets
                .related-assets__next-arrow
                  +icon('chevron-right')
                .related-assets__prev-arrow
                  +icon('chevron-right')
                .slider
                  each asset in relatedAssets
                    a(href=asset.href)
                      img(data-lazy="#{asset.src}")


  .overlay__container(data-content="asset-download")
    .overlay__content
      if (downloadable)
        h2 Download
        if(smallImage)
          a.btn.btn-primary(href='#{smallImage}')
            | Lille (#{sources.imageSet.download800.size} jpg)
        if(mediumImage)
          a.btn.btn-primary(href='#{mediumImage}')
            | Mellem (#{sources.imageSet.download1200.size} jpg)
        if(largeImage)
          a.btn.btn-primary(href='#{largeImage}')
            | Stor (#{sources.imageSet.download2000.size} jpg)
        a.btn.btn-primary(href='#{downloadSlug}originalJPEG')
          | Original (#{fullWidth} x #{fullHeight} jpg)
        if(file_format === 'TIFF Image')
          a.btn.btn-primary(href='#{downloadSlug}original')
            | Original (#{fullWidth} x #{fullHeight} tiff)

        if (license)
          a(href=license.url, rel='license', target='_blank')
            img(src=license.img, alt=license.short).license-img
        else
          p No known rights
      else
        h2 Vi beklager
        p Billedet er beskyttet af ophavsret og kan derfor ikke downloades.

  include includes/footer
