extends index

append header
  +meta()

block content
  .let-it-grow
    .jumbo
      .jumbo__image
      .container-fluid.jumbo__logos
        +icon('kbh-mus')
        +icon('kbh-stads')
        svg.jumbo__svg-filter
          defs
            filter#dropshadow
              fegaussianblur(in='SourceAlpha', stddeviation='4')
              fecomponenttransfer
                fefunca(type='linear', slope='0.15')
              femerge
                femergenode
                femergenode(in='SourceGraphic')
      .jumbo__flex
        .container-fluid
          .row 
            .col-xs-12.col-sm-6
              .jumbo__teaser Udforsk #{totalAssets} billeder fra KBH billeders samling
      .jumbo__search
        .container-fluid
          - var path = (req.path).split('/')
          - var searchMethod = (isSearching ? 'modify-query' : '')
          form.search-box(method='get', action='/', data-method=searchMethod)
            .input-group
              input.form-control.input-search(
                type='text',
                id='search-input',
                placeholder='Søg på kbhbilleder',
                name='q',
                autocomplete="off",
                onfocus="this.placeholder = ''",
                onblur="this.placeholder = 'Søg på kbhbilleder'"
                value=req.query.q || '')
              .input-group-btn
                button.btn-search.btn
                  span.sr-only Søg
                  +icon('search')
      
    .container-fluid
      each gallery in galleries
        .row.fp-featured
          .col-xs-12.col-sm-6.text-col-left
            h2.fp-featured__title= gallery.title
            p.fp-featured__text= gallery.description
          .col-xs-12.col-sm-6
            each item in gallery.items
              .col-xs-6
                a.fp-thumb.no-touch-hover(href=item.link)
                  img(src=item.image).fp-thumb__image
                  .fp-thumb__overlay
                    h3.fp-thumb__title= item.title
                    p.fp-thumb__text= item.description
  include includes/footer

append javascript
  - baseURL = 'http://' + (req.get('x-forwarded-host') || req.get('host')) + '/'
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "#{baseURL}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{baseURL}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
