extends index

append header
  +meta()

block content
  .let-it-grow
    .jumbo 
      .container-fluid
        - var path = (req.path).split('/')
        - var searchMethod = (isSearching ? 'modify-query' : '')
        form.search-box(method='get', action='/', data-method=searchMethod)
          .input-group
            input.form-control.input-search(
              type='text',
              id='search-input',
              placeholder='Søg på samlinger.natmus.dk',
              name='q',
              autocomplete="off",
              value=req.query.q || '')
            .input-group-btn
              button.btn-search.btn
                span.sr-only Søg
                +icon('search')
    .frontpage
      each catalog in catalogs
        if catalog
          .frontpage__catalog
            a(href="/#{catalog.alias}")
              .thumb(style="background-image: url('#{catalog.sources.thumbnail}')")
              h2= catalog.name
  include includes/footer

append javascript
  - baseURL = 'http://' + (req.get('x-forwarded-host') || req.get('host')) + '/'
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "#{baseURL}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{baseURL}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
