extends index

append header
  +meta()

block content
  .let-it-grow
    .jumbo
      .jumbo__image
        img(src="https://unsplash.it/3100/2000")
      .container-fluid.jumbo__logos
        +icon('kbh-mus')
        +icon('kbh-stads')
      .container-fluid.jumbo__flex
        .jumbo__teaser Udforsk #{totalAssets} billeder fra KBH billeders samling
      .jumbo__search
        .container-fluid
          .row
            .col-xs-6.col-xs-offset-6.col-sm-5.col-sm-offset-7.col-md-4.col-md-offset-8.col-lg-3.col-lg-offset-9
              - var path = (req.path).split('/')
              - var searchMethod = (isSearching ? 'modify-query' : '')
              form.search-box(method='get', action='/', data-method=searchMethod)
                .input-group
                  input.form-control.input-search(
                    type='text',
                    id='search-input',
                    placeholder='Søg på kbhbilleder',
                    name='q',
                    autocomplete="off",
                    value=req.query.q || '')
                  .input-group-btn
                    button.btn-search.btn
                      span.sr-only Søg
                      +icon('search')
    .container-fluid
      .row.fp-featured
        .col-xs-12.col-sm-6
          h2 Lille Peter
          p Tellivizzle ipsizzle owned rizzle amet, consectetuer adipiscing elizzle. Nullam fo velizzle, i'm in the shizzle volutpat, suscipit ma nizzle, vel, phat. Bizzle eget tortor. Sed eros. Doggy izzle dolor rizzle away tempus tempor. Tellivizzle doggy nibh et turpizzle. Crazy in tortor. Pellentesque you son of a bizzle rhoncus nisi. In hizzle habitasse platea daahng dawg. Shizzlin dizzle dapibizzle. We gonna chung tellus urna, pretizzle check it out, mattizzle izzle, eleifend vitae, nunc. Da bomb suscipizzle. Integizzle gizzle fo shizzle crazy things.
        .col-xs-12.col-sm-6
          .row 
            .col-xs-6
              a.fp-thumb(href="#")
                img(src="https://unsplash.it/600/600").fp-thumb__image
                .fp-thumb__overlay
                  h3.fp-thumb__title Østerbro
                  p.fp-thumb__text Tellivizzle ipsizzle owned rizzle amet, consectetuer adipiscing elizzle. Nullam fo velizzle, i'm in the shizzle volutpat.
            .col-xs-6
              a.fp-thumb(href="#")
                img(src="https://unsplash.it/600/600").fp-thumb__image
                .fp-thumb__overlay
                  h3.fp-thumb__title Østerbro
                  p.fp-thumb__text Tellivizzle ipsizzle owned rizzle amet, consectetuer adipiscing elizzle. Nullam fo velizzle, i'm in the shizzle volutpat.
            .col-xs-6
              a.fp-thumb(href="#")
                img(src="https://unsplash.it/600/600").fp-thumb__image
                .fp-thumb__overlay
                  h3.fp-thumb__title Østerbro
                  p.fp-thumb__text Tellivizzle ipsizzle owned rizzle amet, consectetuer adipiscing elizzle. Nullam fo velizzle, i'm in the shizzle volutpat.
            .col-xs-6
              a.fp-thumb(href="#")
                img(src="https://unsplash.it/600/600").fp-thumb__image
                .fp-thumb__overlay
                  h3.fp-thumb__title Østerbro
                  p.fp-thumb__text Tellivizzle ipsizzle owned rizzle amet, consectetuer adipiscing elizzle. Nullam fo velizzle, i'm in the shizzle volutpat.
  
  include includes/footer

append javascript
  - baseURL = 'http://' + (req.get('x-forwarded-host') || req.get('host')) + '/'
  script(type="application/ld+json").
    {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "#{baseURL}",
      "potentialAction": {
        "@type": "SearchAction",
        "target": "#{baseURL}?q={search_term_string}",
        "query-input": "required name=search_term_string"
      }
    }
