extends frontpage
include mixins/meta
include mixins/search-freetext-form
include mixins/icon

append header
  +meta(user.nickname + ' profil')

block content
  main.let-it-grow.page-wrap.my-page
    .overlay__container(data-content="auth-verification")
      .overlay__content
        h2 Er du sikker på at du vil slette din konto?
        p Dette kan ikke fortrydes.
        p Vi sletter dit brugernavn, din email og dit password.
        p Vi sletter ikke de konkrete emneord og kortplaceringer, som du har tilføjet.
        .my-page__overlay-buttons
          a(href='/delete-account').btn.btn-primary Ja, slet min konto
          button.btn.btn-dark Annuller
    .container-fluid
      block username
        .col-xs-12
          h1.my-page__username-mobile(data-user-id=user.id)= user.nickname
      block photo
        .col-xs-6.col-md-4
          - let profileImage = user.picture ? user.picture : '../images/default_profile_photo.png'
          img.img-responsive.my-page__profile-photo(src=profileImage, alt="profilbillede")
      block inner-content
      .col-xs-6.col-md-8.my-page__profile-stats
          block stats
            h1.my-page__username-desktop(data-user-id=user.id)= user.nickname
            .my-page__circle-wrapper
              .my-page__circle
                +icon('tag')
              .my-page__counter= stats.tags.tags
              .my-page__counter-description Emneord
            .my-page__circle-wrapper
              .my-page__circle
                +icon('location')
              .my-page__counter= stats.geolocations.geolocations
              .my-page__counter-description Lokationer
            .my-page__circle-wrapper
              .my-page__circle
                +icon('trophy')
              .my-page__counter= points
              .my-page__counter-description Point

      .col-xs-12.col-md-4.my-page__user-info
        block user-info
          h2 Mine oplysninger
          table
            tr
              td.my-page__table-bold Brugernavn
              td= user.nickname ? user.nickname : user.username
            tr
              td.my-page__table-bold Email
              td= user.emails[0].value
      .col-xs-12.col-md-4.my-page__user-actions
        block user-actions
          h2 &nbsp;
          .my-page__edit-profile
            a(href='/rediger-min-side').btn.btn-primary
              | Rediger profil
              +icon('pencil')
          .my-page__delete-user
            button(data-action='delete-account-verification').btn.btn-default
              | Slet profil
              +icon('trash')
    block user-contributions
      .my-page__section2
        .container-fluid
          include includes/profile/user-contributions.pug


