extends frontpage
include mixins/meta
include mixins/search-freetext-form

append header
  +meta()

block content
  .let-it-grow.page-wrap
    .container-fluid
      img.img-responsive(src=user.picture)
      h3(data-user-id=user.id)
        = 'Hej ' + user.nickname
      p= 'Email: ' + user.emails[0].value
      p= `Du har placeret ${stats.geolocations.geolocations} billeder på kort og tilføjet ${stats.tags.tags} emneord på ${stats.tags.assets} billeder.`
      p= `Du har ${points} point.`
      - if(user.provider === 'auth0')
        a(data-action='reset-password'
          data-email=user.emails[0].value
          data-connection=user.identities[0].connection) Skift min adgangskode
