- var altText = players[0].title + ": " + players[0].tags.join(', ');

img(src=player.thumbnailUrl,
alt=altText,
data-action='toggle-expandable').asset__image

each backside in player.backsides
  img(src=helpers.getThumbnailURL(backside, 2000, 'bottom-right'),
  alt='Fotografiets bagside',
  data-action='toggle-expandable').asset__image.asset__image--hide.asset__image--backside
